name: CI

on:
  push:
    branches: [ "*" ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node: [18.x]
    
    steps:
      
      - name: Copy repository
        uses: actions/checkout@v2
      
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}

      - name: Install dependencies
        run: npm ci
   
      - name: ESLint
        run: npm run lint
   
      - name: Prettier
        run: npm run prettier:check
   
      - name: Test
        run: npm run test
   
      - name: E2E
        run: npm run test:e2e
   
      - name: Build
        run: npm run build